*, *::before, *::after {
font-family: Georgia, 'Times New Roman', Times, serif;
box-sizing: border-box;

}

body {

    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    align-items: center;
    background-color: bisque;
}

.container {

    width: 800px;
    max-width: 80%;
    border-radius: 5px;
    background-color: green;
    padding: 10px;
    box-shadow: 0 0 10px 3px;
    font-size: 24px;
}

.btn:hover {
    border-color: white;
}

.start-btn, .next-btn {

    font-weight: bold;
    padding: 10px 20px;
}

.controls {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    background-color: blue 50%;
    border: 1px solid;
    padding: 5px 10 px;
}

.hide{

    display: none;
}