*, *::before, *::after {
font-family: Georgia, 'Times New Roman', Times, serif;
box-sizing: border-box;

}

body {

    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    align-items: center;
    background-color: bisque;
}

.container {

    max-width: 70%;
    width: 700px;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px 3px;
    border-radius: 10px;
}


.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide{

    display: none;
}